// .state-enabled {
//   visibility: visible;
// }

.state-disabled {
  visibility: hidden;
}

.play-pause {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  
  .action {
    font-family: $fontHeading;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .material-icons {
    color: #ffffff;
    font-size: 5rem;
  }

  @include for-tablet-portrait-down {
    .action {
      font-size: 2rem;
    }
    
    .material-icons {
      font-size: 8rem;
    }
  }
}