<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Please, just sleep.</title>
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Quicksand:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      <div class="sky">
        <canvas id="stars"></canvas>
      </div>
      <div class="content">
        <div class="controls">
        </div>
        <div class="title">Please,<br/>just sleep.</div>
      </div>
  </body>
</html>